Databases-Teamwork-Practical-Project/SantasToyFactory/SantasToyFactory.ConsoleClient/Children-Behaviors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="behaviors-by-children">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="country">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="child">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="behavior" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>